<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AmatsukazeWebUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="status">
                <span class="bi bi-info-square-fill-nav-menu" aria-hidden="true"></span> Status
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="console">
                <span class="bi bi-terminal-fill-nav-menu" aria-hidden="true"></span> Console
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs/encode">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> Encode Logs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs/check">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> Check Logs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="queue">
                <span class="bi bi-list-ul-nav-menu" aria-hidden="true"></span> Queue
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-collection-fill-nav-menu" aria-hidden="true"></span> Services
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profiles">
                <span class="bi bi-clipboard-fill-nav-menu" aria-hidden="true"></span> Profiles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autoselect">
                <span class="bi bi-clipboard-fill-nav-menu" aria-hidden="true"></span> AutoSelect
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drcs">
                <span class="bi bi-image-fill-nav-menu" aria-hidden="true"></span> DRCS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makescript">
                <span class="bi bi-terminal-fill-nav-menu" aria-hidden="true"></span> MakeScript
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
