@using Amatsukaze.Shared
@inject IAmatsukazeApi Api

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="nav-brand">
            <a class="navbar-brand" href="">AmatsukazeWebUI</a>
            <div class="nav-version">@_serverVersion</div>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column nav-menu-list">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ホーム
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> 基本設定
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profiles">
                <span class="bi bi-clipboard-fill-nav-menu" aria-hidden="true"></span> プロファイル
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-collection-fill-nav-menu" aria-hidden="true"></span> チャンネル
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autoselect">
                <span class="bi bi-clipboard-fill-nav-menu" aria-hidden="true"></span> 自動選択
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drcs">
                <span class="bi bi-image-fill-nav-menu" aria-hidden="true"></span> DRCS外字
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs/encode">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> エンコードログ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs/check">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> チェックログ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makescript">
                <span class="bi bi-terminal-fill-nav-menu" aria-hidden="true"></span> スクリプト生成
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="info">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> 情報
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string _serverVersion = "-";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        var res = await Api.GetSystemAsync();
        if (res.Ok && res.Data?.ServerInfo?.Version != null)
        {
            _serverVersion = res.Data.ServerInfo.Version;
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
