name: Build Base Images

on:
  workflow_dispatch:

jobs:
  build-base-image:
    name: Build and Push Base Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - ubuntu_version: "22.04"
            ubuntu_name: "jammy"
            tag: "ubuntu2204"
          - ubuntu_version: "24.04"
            ubuntu_name: "noble"
            tag: "ubuntu2404"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base image
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/amatsukaze-builder:${{ matrix.tag }}
          docker buildx build \
            --push \
            --build-arg UBUNTU_VERSION=${{ matrix.ubuntu_version }} \
            --build-arg UBUNTU_NAME=${{ matrix.ubuntu_name }} \
            -f docker/base/Dockerfile \
            -t ${IMAGE} \
            .


